# Introduction to Python

### Simple Math
Let's get started and use Python as a calculator

In [106]:
print(7 + 10)

17

In [107]:
# Addition 
print(5 + 5)

# Subtraction
print(5 - 5)

# Multiplication
print(3 * 5)

# Division 
print(10 / 2)

# Exponentiation
print(4 ** 2)

10
0
15
5.0
4
16

In [108]:
# Combining processes
print(4 * (2 ** 8))

1024

### Variables

A variable is a specific, case-sensitive name that serves as a placeholder for another value. Every time you use a variable name, Python replaces the variable with the actual value. Variables help make your code reproducible and flexible to changes.

Here, we will calculate body mass index (BMI) using BMI = weight(kg)/height(m)^2

In [6]:
# Weight in kg
weight = 68.2

# Height in meters
height = 1.8

weight
height

weight/(height ** 2)

# Saving expression to the variable name `BMI`
bmi = weight/(height ** 2)

# Two ways to print variable. 
# One way is to console, the other is best practice for use in scripts
bmi
print(bmi)

21.049382716049383

In [7]:
# Identify the type of the object stored as `BMI`
type(bmi)

float

### Data Types

Variables can store data of different types, and different types can do different things.

Python has several data types built-in by default:

* Single objects
    * **Text** - str
    * **Numeric** - int, float, complex
    * **Boolean** - bool
* Collections of data are described below

You can get the data type of any object by using the `type()` function

In [1]:
# String - use single or double quotes
type("abc")

x = "This is a string"
type(x)
print(type(x))

<class 'str'>

In [112]:
# Float - decimal, real number
type(1.2)

float

In [113]:
# Integer - whole number
type(5)

int

In [114]:
# Booleans - logical values
# Useful to filter data
type(True)
type(False)

bool

In [115]:
# Combining data types that are the same

# Sum of integers
print(2 + 3)

# Sum of strings
print("ab" + "cd")

5
abcd

### Combining data

In Python, to combine data types that are not the same you need to explicitly convert the type to be the same. You can do this by using the following functions:

* `str()` - convert to string
* `int()` - convert to integer
* `float()` - convert to float
* `bool()` - convert to boolean

In [5]:
# Example of combining different data types
two_var = 2

# Wrong
# print("I have " + two_var + " ducks")

# Correct - converts integer value to string before combining with other
# string values
print("I have " + str(two_var) + " ducks")

I have 2 ducks

In [117]:
# String example
print(("duck " * 2) + "goose")
print("I have " + str(2) + " ducks and " + str(1) + " goose")

# Boolean example
print(True + False)
print(True + False + 5)
print(True + False + bool(5))
print(True + False + bool(0))

# Integer example
print(1 + 2)
print(1 + 2 + True)
print(1 + 2 + int("5"))

duck duck goose
I have 2 ducks and 1 goose
1
6
2
1
3
4
8

### Lists

Lists are used to store multiple items in a single variable.

There are 4 built-in data types in Python used to store collections of data, all with different qualities and usage.

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered and changeable. No duplicate members.

***

#### Characteristics of Lists

* Lists are created using square brackets `[]`
* **Ordered**: list items are indexed, the first item has index `[0]`, the second item has index `[1]` and so on
* **Changeable**: list items can be changed, added, and removed after it has been created
* **Duplicates**: lists can have items with the same value

In [8]:
# List of strings with duplicates
fruit = ["apple", "banana", "cherry", "apple", "cherry", "banana"]
print(fruit)
print(type(fruit))

['apple', 'banana', 'cherry', 'apple', 'cherry', 'banana']
<class 'list'>

In [9]:
# String list
list_str = ["apple", "banana", "cherry"]
print(list_str)

# Integer list
list_int = [1, 5, 7, 9, 3]
print(list_int)

# Boolean list
list_bool = [True, False, False]
print(list_bool)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [120]:
# A list with different data types
list_combo = ["abc", 34, True, 40, "male"]
print(list_combo)

['abc', 34, True, 40, 'male']

In [121]:
# Find the length of the list using `len()`
print(len(list_combo))

5

In [12]:
# Fruit variables
apple = 5
banana = 10
cherry = 7

# Fruit list combined with strings and variables with integer values
fruits = ["Apples", apple, "Bananas", banana, "Cherries", cherry]
print(fruits)
print(type(fruits))

# Fruit list of lists
fruit_lists = [["Apples", apple],
               ["Bananas", banana],
               ["Cherries", cherry]]
print(fruit_lists)
print(type(fruit_lists))

['Apples', 5, 'Bananas', 10, 'Cherries', 7]
<class 'list'>
[['Apples', 5], ['Bananas', 10], ['Cherries', 7]]
<class 'list'>

### Subsetting Lists

**Zero-based indexing**

The first element in a list has index **0**, the second element has index **1**, and so on. You can specifically select elements from your list by using the index value.

Syntax to reference list and specific index value: `mylist[2]`

In [13]:
fruits

['Apples', 5, 'Bananas', 10, 'Cherries', 7]

In [14]:
len(fruits)

6

In [15]:
fruits[0]

'Apples'

In [16]:
fruits[2]

'Bananas'

In [17]:
# Count backwards using negative indexes
# Starts at -1
fruits[-1]

7

In [18]:
# Subset and Calculate
app_cher = fruits[1] + fruits[-1]
print(app_cher)

12

### Subsetting Lists

**Slicing**

You can select multiple elements from a list by selecting a range of elements. The result will be a new list of the choosen elements.

`my_list[start:end]`

* **start** index will be included
* **end** index will NOT be included

In [19]:
# Range [inclusive : exclusive]
fruits[0:2]

['Apples', 5]

In [24]:
# Select everything before and not including index 4
fruits[:4]

['Apples', 5, 'Bananas', 10]

In [26]:
# Select index 4 to the end of the list
fruits[4:]

['Cherries', 7]

In [22]:
# Select index 2 up to and not including index 4
fruits[2:4]

['Bananas', 10]

In [167]:
# Select all list elements explicitly
fruits[:]

['Apples', 5, 'Bananas', 10, 'Cherries', 7]

In [168]:
# Subset two values and calculate the sum
app_cher = fruits[1] + fruits[-1]
print(app_cher)

12

In [169]:
# Subsets lists from lists
fruit_lists

[['Apples', 5], ['Bananas', 10], ['Cherries', 7]]

In [170]:
# Length of lists
len(fruit_lists)

3

In [171]:
# Select the third list using index 2
fruit_lists[2]

['Cherries', 7]

In [172]:
# Select the third list, index 2, and the first element, index 0
fruit_lists[2][0]

'Cherries'

### Manipulating list elements

* Change an element
* Add an element
* Remove an element

In [29]:
print(fruits)

['Apples', 3, 'Bananas', 10, 'Cherries', 7]

In [39]:
# Changing a single element
# Single value replacements do not need brackets
fruits[1] = 3
print(fruits)

['Apples', 3, 'Bananas', 10, 'Oranges', 5]

In [34]:
# Changing multiple elements
# Must use brackets to indicate a list
fruits[4:] = ["Oranges", 5]
print(fruits)

['Apples', 3, 'Bananas', 10, 'Oranges', 5]

In [43]:
# Adding an element
# New element must be in list form to add to another list
# Creates a new list and original list is unchanged
fruits + ["Cherries"]
print(fruits)

['Apples', 3, 'Bananas', 10, 'Oranges', 5]

In [55]:
fruits_2 = fruits + ["Cherries", 8]
print(fruits_2)

['Apples', 3, 'Bananas', 10, 'Oranges', 5, 'Cherries', 8]

#### Deleting an element of a list

* Deleting an element can be done using the `del()` function. 
* As an element is removed from a list, the indexes of the elements that come after the deleted element all change

In [56]:
# Removing an element using `del()`
del(fruits_2[-2:])
print(fruits_2)

['Apples', 3, 'Bananas', 10, 'Oranges', 5]

In [57]:
# Removing multiple elements
del(fruits_2[2:4])
print(fruits_2)

['Apples', 3, 'Oranges', 5]

In [58]:
# Removing multiple elements in series
# The index changes after each removal
del(fruits_2[-1]); del(fruits_2[-1])
print(fruits_2)

['Apples', 3]

### Making copies and the inner workings of python

* Creating a copy of a list by assigning a new variable name only makes a reference to the original list
* Any changes made to either reference will change the original list
* Copying a list must be done explicitly so that the actually list, not the reference, is copied.

In [60]:
# Copying reference for an original list
fruits_copy = fruits_2
print(fruits_copy)

['Apples', 3]

In [61]:
# Change in reference copy
# Result is a change in the original list 
del(fruits_copy[1])
print(fruits_copy)
print(fruits_2)

['Apples']
['Apples']

In [62]:
# New list
mylist = [1, 2, 3, 4, 5]
print(mylist)

[1, 2, 3, 4, 5]

In [63]:
# Copying original list explicitly with [:]
copy_1 = mylist[:]
print(copy_1)

[1, 2, 3, 4, 5]

In [66]:
# Remove last two elements
# Change in new list only
del(copy_1[-2:])
print(copy_1)
print(mylist)

[1]
[1, 2, 3, 4, 5]

In [67]:
# Copying original list explicitly with list()
copy_2 = list(mylist)
print(copy_2)
print(mylist)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [68]:
# Remove last two elements
# Change in new list only
del(copy_2[0:2])
print(copy_2)
print(mylist)

[3, 4, 5]
[1, 2, 3, 4, 5]

### Functions

A function is a piece of resuable code that performs a specific task

**Examples of functions**

* `str()`
* `bool()`
* `float()`
* `int()`
* `type()`
* `del()`

You can search online to find functions built in to Python that you may need. Try searching for "maximum value in a list in python" in your search engine.

Many functions can accept multiple arguments. These can also be found on the help page.

In [210]:
# Find maximum value in a list
max(mylist)

5

In [212]:
# Use the function `round()` with default settings
round(1.2345)

1

In [216]:
# Finding help
help(round)
?round

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

In [69]:
# Use the function `round()` with option `ndigits` settings
round(1.2345, 2)

1.23

In [70]:
# Use the function `sorted()`
help(sorted)

Help on built-in function sorted in module builtins:

sorted(...)
    sorted(iterable, key=None, reverse=False) --> new sorted list

In [71]:
# Make new lists
one = ["d", "e", "f"]
two = ["c", "b", "a"]

# Combine lists into one
three = one + two
print(three)

['d', 'e', 'f', 'c', 'b', 'a']

In [72]:
# Sort the new list
sorted(three)

['a', 'b', 'c', 'd', 'e', 'f']

In [73]:
# Reverse sort the list
sorted(three, reverse = True)

['f', 'e', 'd', 'c', 'b', 'a']

### Methods

**Objects** are values and data structures in Python. Objects have methods associated, depending on the type of object.

**Methods** are call functions that belong to Python objects. They are used with *dot notation*. It is important to note that some methods change the object they are called on ... and some don't.

* **String**
    * `capitalize()` - returns a copy of the original string and converts               the first character of the string to a capital (uppercase)                 letter while making all other characters in the string                     lowercase letters.
    * `replace()` - returns a copy of the string with all occurrences of                 substring old replaced by new
    * `upper()` - returns the uppercase string from the given string
    * `index()` - returns the index of the specified element in the string
    * `count()` - returns the number of times the specified value appears               in the string
* **Float**
    * `bit_length()` - Returns the number of bits necessary to represent                 an integer in binary, excluding the sign and leading zeros
* **List**
    * `index()` - returns the index of the specified element in the list.
    * `count()` - returns the number of times the specified element                     appears in the list
    * `append()` - adds an item to the end of the list.
    * `remove()` - removes the first matching element of a list

In [229]:
# String methods example
a = "apple"
print(a)

apple

In [233]:
# Capitalize the provided string
a.capitalize()

'Apple'

In [234]:
# The original value is not changed
print(a)

apple

In [235]:
# Make all letters upper case
a.upper()

'APPLE'

In [238]:
# Count the number of times a value is present in string
a.count("p")

2

In [265]:
# Find the first index of a specific value
a.index("p")

1

In [266]:
a.index("e")

4

In [75]:
# List methods example
colors = ["red", "yellow"]
print(colors)

['red', 'yellow']

In [76]:
# Add an element to the list
colors.append("blue")
print(colors)

['red', 'yellow', 'blue']

In [77]:
# Sort list alphabetically
colors.sort()
print(colors)

['blue', 'red', 'yellow']

In [78]:
# Find index of specific value
colors.index("red")

1

In [79]:
# Remove an item from list
colors.remove("yellow")
print(colors)

['blue', 'red']

### Packages

* directory of python scripts
* each script is a module
* specify functions, methods, types
* thousands of packages available
    * Numpy
    * Matplotlib
    * Scikit-learn
* install specific packages
    * use `pip` to install packages
    * http://pip.readthedocs.org/en/stable/installing
    * Download `get-pip.py`
    * Terminal
        * `python3 get-pip.py`
        * `pip3 install numpy`
        
* Import the entire package
    * `import numpy`
    * `numpy.array([1, 2, 3])`
    * Making a nickname for imported package
        * `import numpy as np`
        * `np.array([1, 2, 3])`
    * Possible but not recommended: only import one function from a package
        * `from numpy import array`
        * `array([1, 2, 3])`
    * Possible but not recommended: import one function from a package with a nickname
        * `from numpy import array as my_array`
        * `my_array([1, 2, 3])

In [255]:
pi

NameError: name 'pi' is not defined

In [ ]:
import math

In [254]:
math.pi

3.141592653589793

In [263]:
# Find the area of a circle
# A = pi * r ** 2
area = math.pi * (0.5) ** 2
print(area)

0.7853981633974483

### Numpy

Numeric python
- alternative to python list
Installation using terminal `pip3 install numpy`
    
numpy arrays: contain only one type

In [276]:
import numpy as np

In [305]:
# Making lists and np_arrays
py_list = [10, 30, 50]
np_array = np.array([20, 40, 60])

In [306]:
# Determining type for python list
print(py_list)
type(py_list)

[10, 30, 50]

list

In [307]:
# Determining type for numpy array
print(np_array)
type(np_array)

[20 40 60]

numpy.ndarray

In [308]:
# Combine python lists
py_list + py_list

[10, 30, 50, 10, 30, 50]

In [309]:
# Sum of numpy arrays
np_array + np_array

array([ 40,  80, 120])

In [310]:
# Sum of list and array
py_list + np_array

array([ 30,  70, 110])

In [334]:
# Combine python list and array with concatenate
# Sort using list method
cat_array = np.concatenate((py_list, np_array))
print(type(cat))

cat_array.sort()
print(type(cat_array))
print(cat_array)

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[10 20 30 40 50 60]

In [ ]:
# Multplying a single value with a numpy array
# Element wise calculation
triple_array = cat_array * 3
print(triple_array)

# New listed sorted
triple_array.sort()
print(triple_array)

In [337]:
# Subsetting for specific index
cat_array[0]

10

In [338]:
cat_array[-1]

60

In [339]:
py_list[0]

10

In [340]:
py_list[-1]

50

In [326]:
# Retrieving array of booleans from condition
cat_array > 35

array([False, False,  True, False,  True,  True], dtype=bool)

In [327]:
cat_array

array([10, 30, 50, 20, 40, 60])

In [328]:
# Subsetting with a condition
cat_array[cat_array > 35]

array([50, 40, 60])

In [344]:
print(py_list)
py_list > 25

[10, 30, 50]

TypeError: unorderable types: list() > int()

In [347]:
py_array = np.array(py_list)
print(py_array)
print(type(py_array))

[10 30 50]
<class 'numpy.ndarray'>

In [348]:
py_array > 25

array([False,  True,  True], dtype=bool)

In [349]:
py_array[py_array > 25]

array([30, 50])

### Numpy Arrays

numpy.ndarray

* numpy package
* n-dimensional array
* can create different dimensions

Attributes - gives you more information about the structure of the data, no parenthesis after attribute
* `shape`

In [466]:
# Make a new list of temps from Orlando, Florida
# First element is day of month in January
# Second element is high temp in F
# 5 rows, 2 columns
temps = [[1, 79],
         [5, 77],
         [10, 79],
         [15, 72],
         [20, 80],
         [25, 55],
         [30, 59]]

In [467]:
import numpy as np

In [468]:
np_temps = np.array(temps)

In [469]:
print(type(np_temps))

<class 'numpy.ndarray'>

In [470]:
# 7 rows, 2 columns
print(np_temps.shape)

(7, 2)

In [471]:
print(np_temps)

[[ 1 79]
 [ 5 77]
 [10 79]
 [15 72]
 [20 80]
 [25 55]
 [30 59]]

In [472]:
# Select the second column, with the temperatures only
np_temps[:, 1]

array([79, 77, 79, 72, 80, 55, 59])

In [473]:
# Select only the temperature for the first day of the month
# First row [0]
# Second column [1]
np_temps[0, 1]

79

In [474]:
# Select only the temperature for the first day of the month
# Last row [-1]
# Second column [1]
np_temps[-1, 1]

59

In [475]:
# Find the minimum value in a column of the array
min(np_temps[:, 1])

55

In [478]:
# Find the maximum value in a column of the array
max(np_temps[:, 1])

80

In [479]:
# Mean of temperatures using numpy mean function
np.mean(np_temps[:, 1])

71.571428571428569

In [480]:
# Median of temperature using numpy median function
np.median(np_temps[:, 1])

77.0

In [481]:
# Standard deviation of temperatures using numpy standard deviation function
# Rounding std output
np.std(np_temps[:, 1])
round(np.std(np_temps[:, 1]))

10.0

### Summary 

* Python is an object oriented language
* Everything is an object
    * integers, strings, lists, arrays, ...
* Objects, including the objects that are the result of an expression, can be stored as a variable
* Lists can be